<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLBasicWebViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA8AD32B1F482A8100521BF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8AD3441F482A8200521BF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8AD34F1F482A8200521BF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
